<?php
/**
 * @var $block \Kowal\DiscountCodeByLink\Block\Popup
 */
?>

<?=
$enabled = $block->isEnabledPopup();
$url = $block->getCurrentUrl();
$code = $block->getCuponCode();
$param = $block->getUrlParameter();
$tresc_link = $block->getPopupContentBefore();
$tresc_code = $block->getPopupContentAfter();
$link = ($block->isEnabledPopupLinkDiscount()) ? $url . '?' . $param . '=' . $code : "#";
$link = ($block->isEnabledPopupLink()) ? $block->getCuponCode() : $link;
?>
<?php if ($enabled) { ?>
    <script type="text/javascript">
        require([
            'jquery',
            "jquery/ui",
            "Kowal_DiscountCodeByLink/js/bioep"
        ], function ($) {
            "use strict";

            bioEp.init({
                html: '<div id="bio_ep_content">' +
                    '<span class="title"><?= $block->getPopupTitleText();?></span>' +
                    '<span class="text"><?= $tresc_link;?></span>' +
                    '<a id="bio_btn_code" href="<?= $link; ?>" class="bio_btn"><?= $block->getPopupBtText();?></a>' +
                    '<?php if($block->isEnabledCuponCodeInput()){?><p class="text"><?= $tresc_code;?></p><?php } ?>' +
                    '<?php if($block->isEnabledCuponCodeInput()){?><pre style="max-width: 50%;margin: 0px auto;"><?= $code;?></pre><?php } ?>' +
                    '</div>',
                css: '#bio_ep {width: <?= $block->getPopupWidth();?>; height: <?= $block->getPopupHeight();?>; color: <?= $block->getPopupContentTextColor();?>; background-color: <?= $block->getPopupBg();?>; text-align: center; background-image: url(<?php echo $block->getBanerUrl(); ?>); background-repeat: no-repeat; background-size: contain;}' +
                    '@media (max-width: 768px) { #bio_ep { width: 90%; } }' +
                    '#bio_ep_content {padding: 24px 0 0 0; bottom: 10px; position: absolute; width: 100%;}' +
                    '#bio_ep_content span.title {display: block; color: <?= $block->getPopupContentTitleColor();?>; font-size: <?= $block->getPopupContentTitleSize();?>; font-weight: 600;}' +
                    '#bio_ep_content span.text {display: block; font-size: <?= $block->getPopupContentTextSize();?>;}' +
                    '#bio_ep_content p.text {display: block; margin: -5px 0 0 0; font-size: <?= $block->getPopupContentTextSize();?>; font-weight: 600;}' +
                    '.bio_btn {display: inline-block; margin: 18px auto 10px auto; padding: 7px; color: <?= $block->getPopupTextBtColor();?>; font-size: <?= $block->getPopupContentBtSize();?>; font-weight: 600; background-color: <?= $block->getPopupBgBtColor();?>; border: 1px solid <?= $block->getPopupBgBtColor();?>; cursor: pointer; -webkit-appearance: none; -moz-appearance: none; border-radius: 0; text-decoration: none;}',
                cookieExp: <?= $block->getCookieLifetime(); ?>,
                showOnDelay: <?= $block->isShowOnDelayEnabled(); ?>,
                delay: <?= $block->getPopupDelay(); ?>,
                showOncePerSession: <?= $block->isShowOncePerSession(); ?>
            });

        });


    </script>


    <?php
    /**
     * bioEp.init({
     * // width/height of the popup
     * width: 400,
     * height: 220,
     * // HTML content for the popup
     * html: "",
     * // popup CSS styles here
     * css: "",
     * // font family
     * fonts: [],
     * // track exit intent and trigger the popup after 5 seconds
     * delay: 5,
     * // show the popup after an X second delay
     * showOnDelay: false,
     * // 30 days
     * cookieExp: 30,
     * // only show the popup once per browser session.
     * showOncePerSession: false,
     * // callback
     * onPopup: null,
     * });
     */
    ?>
<?php } ?>
